@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&family=Roboto:wght@300&display=swap');

.page-background {
    background-color: rgb(243, 243, 243);
  }
p {
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-family: 'Gothic A1', sans-serif;
}
h2 {
    text-align: center;
    font-family: 'Gothic A1', sans-serif;
}
header {
    height: 90vh;
    background-image: url(img/mobile.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover; /* Resize the background image to cover the entire container */
    color: rgb(231, 231, 231);
}
header h1 {
    margin-top: 33%;
    font-weight: 800;
    text-shadow: 1px 1px 3px #000;
}
#about {
    background-color: rgb(131, 118, 168);
    color: azure;
}
#approach {
    background-color: rgb(155, 203, 81);
}
#services {
    background-color: rgb(231, 231, 231);
}
#sectors {
    background-color: rgb(131, 118, 168);
    color: azure;
}
#collaborate {
    background-color: rgb(155, 203, 81);
}
#contact ul {
    list-style-type: none;
}
@media only screen and (min-width: 768px) {
    header {
        background-image: url(img/desktop.jpg);
        background-position: left top; /* Center the image */
    }
    header h1 {
        margin-top: 25%;
        text-shadow: 1px 1px 4px #000;
    }
  }
